@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
background-image: url('https://images.unsplash.com/photo-1513151233558-d860c5398176?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
background-position: center center;
background-size: cover;
    width: 100vw;
    height: 100vh;
}

.container-contador {

    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    flex-direction: row;
    width: 600px;
    height: 150px;
    font-weight: bolder;

}

h1 {

    font-size: 70px;
}

.contador-elemento  {

    text-align: center;
    margin: 0 30px;
    font-size: 25px;
}

footer {

    position: absolute;
    bottom: 10px;
    font-style: italic;

}